@model Products.Controllers.HomeController
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h3>Product-Catogory Table</h3>
   
   
</div>

<div class="row">
    <div class="col-md-4">
      
        
    </div>
</div>